@charset="utf-8";

html[dir=ltr] {
	text-align: right;
}
* {
	vertical-align: baseline;
	-webkit-font-feature-settings: "kern" 1;
	        font-feature-settings: "kern" 1;
	-webkit-font-variant-ligatures: no-common-ligatures;
	        font-variant-ligatures: no-common-ligatures;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* Fonts */
/*@font-face {
	font-family: "Calibre-Bold";
	src: url('../fonts/CalibreWeb-Bold.woff') format("woff"), 
	url('../fonts/CalibreWeb-Bold.woff2') format("woff2");
	font-weight: 400;
	font-style: normal;
}*/
@font-face {
	font-family: "Sole-Serif";
	src: url('../fonts/sole-textlight-webfont.woff2') format('woff2'),
         url('../fonts/sole-textlight-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
/*@font-face {
	font-family: "Sole-Serif-Display";
    src: url('../fonts/sole-displayblack-webfont.woff2') format('woff2'),
         url('../fonts/sole-displayblack-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}*/
@font-face {
	font-family: "Output Sans";
    src: url('../fonts/OutputSans-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	background-color: #FDFDFD;
	height: 100%;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	background-color: #222;
}

#slide-container {
	height: 100%;
/*	display: flex;*/
}

a:link, a:visited {
	text-decoration: none;
	color: #33eaaa;
	cursor: pointer;
}
a:active, a:focus, a:hover {
	color: #16a774;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}

section {
	height: 100%;
}

/* Section One */
section.left {
	-webkit-box-flex: 2;
	    -ms-flex: 2 50%;
	        flex: 2 50%;
	background-color: #262626;
	color: #FEFEFE;
}
section.left h1 {
	font-family: 'Output Sans';
	font-size: 1.2rem;
	letter-spacing: 0.06rem;
	margin: 0 0 0.6rem 0;
}
section.left p {
	font-family: 'Sole-Serif';
	letter-spacing: 0.01rem;
	font-size: 1.1rem;
	line-height: 1.6;
	margin: 0 0 0 0;
}

section.left.intro .subsection {
	padding: 10%;
}
section.left.intro h1 {
	font-size: 1.9rem;
}
section.left.intro p {
	font-size: 1.3rem;
}

section.left .subsection {
	padding: 5%;
	border-bottom: #333333 solid 1px;
}
section.left .subsection-middle {
	padding: 12.5% 7.5%;
}
section.left .button {
	font-family: 'Output Sans';
	font-size: 0.9rem;
	background-color: #FEFEFE;
	padding: 0.65rem 1.4rem;
	letter-spacing: 0.02rem;
	display: inline-block;
	color: #262626;
	border-radius: 1px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased;
}
section.left .button-start {
	margin-top: 1.1rem;
}
section.left .button-inline {
	margin-top: 1.1rem;
}
section.left .button:hover {
	background-color: #585858;
	color: #FEFEFE;
}

.subsection-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}
.button-left {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.button-right {
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

.pad {
	margin: 0 auto;
	border-radius: 1px;
	height: 300px;
	width: 300px;
	background-color: #FEFEFE;
	position: relative;
}

.marker {
/*	display: none;*/
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px; 
	background-color: rgba(88,88,88,0.8);
	border: solid #FEFEFE 3px;
	border-radius: 100%;
	z-index: 2000;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: move;
	-webkit-box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.8);
	        box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.8); 
	-webkit-transition: background-color 0.25s, -webkit-box-shadow 0.25s; 
	transition: background-color 0.25s, -webkit-box-shadow 0.25s; 
	transition: background-color 0.25s, box-shadow 0.25s; 
	transition: background-color 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.marker:hover {
	background-color: rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 35px -2px rgba(0,0,0,0.9);
	        box-shadow: 0px 0px 35px -2px rgba(0,0,0,0.9);
}

.line {
	background-color: #EEE;
}

.grid-vertical {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
}
.grid-vertical .line {
	height: 100%;
	width: 1px;
	position: absolute;
	pointer-events: none;
}
.grid-vertical .line:nth-of-type(1) {
	left: 0;
}
.grid-vertical .line:nth-of-type(2) {
	left: 10%;
}
.grid-vertical .line:nth-of-type(3) {
	left: 20%;
}
.grid-vertical .line:nth-of-type(4) {
	left: 30%;
}
.grid-vertical .line:nth-of-type(5) {
	left: 40%;
}
.grid-vertical .line:nth-of-type(6) {
	left: 50%;
	background-color: #222;
	z-index: 100;
}
.grid-vertical .line:nth-of-type(7) {
	left: 60%;
}
.grid-vertical .line:nth-of-type(8) {
	left: 70%;
}
.grid-vertical .line:nth-of-type(9) {
	left: 80%;
}
.grid-vertical .line:nth-of-type(10) {
	left: 90%;
}
.grid-vertical .line:nth-of-type(11) {
	left: 100%;
	opacity: 0;
}


.grid-horizontal {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
}

.grid-horizontal .line {
	width: 100%;
	height: 1px;
	position: absolute;
}
.grid-horizontal .line:nth-of-type(1) {
	top: 0;
	opacity: 0;
}
.grid-horizontal .line:nth-of-type(2) {
	top: 10%;
}
.grid-horizontal .line:nth-of-type(3) {
	top: 20%;
}
.grid-horizontal .line:nth-of-type(4) {
	top: 30%;
}
.grid-horizontal .line:nth-of-type(5) {
	top: 40%;
}
.grid-horizontal .line:nth-of-type(6) {
	top: 50%;
	background-color: #222;
	z-index: 100;
}
.grid-horizontal .line:nth-of-type(7) {
	top: 60%;
}
.grid-horizontal .line:nth-of-type(8) {
	top: 70%;
}
.grid-horizontal .line:nth-of-type(9) {
	top: 80%;
}
.grid-horizontal .line:nth-of-type(10) {
	top: 90%;
}
.grid-horizontal .line:nth-of-type(11) {
	top: 100%;
	opacity: 0;
}

.label-vertical {
	font-family: 'Output Sans';
	letter-spacing: 0.02rem;
	font-weight: 600;
	/*text-transform: uppercase;*/
	font-size: 0.8rem;
	color: #EEE;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.label-vertical .y1 {
	bottom: 100%;
	left: 0%;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-bottom: 2rem;
}
.label-vertical .y2 {
	top: 100%;
	left: 0%;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: 2rem;
}

.label-horizontal {
	font-family: 'Output Sans';
	letter-spacing: 0.02rem;
	font-weight: 600;
	/*text-transform: uppercase;*/
	font-size: 0.8rem;
	color: #EEE;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.label-horizontal .x1 {
	top: 50%;
	right: 100%;
	position: absolute;
	margin-right: 2rem;
	margin-top: -0.4rem;
}
.label-horizontal .x2 {
	top: 50%;
	left: 100%;
	position: absolute;
	margin-left: 2rem;
	margin-top: -0.4rem;
}

.sub-label {
	height: 125%;
	width: 125%;
	margin: -12.5%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	opacity: 0.55;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 1000;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.sub-label:hover {
/*	opacity: 0.7;*/
}
.sub-label .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;

/*	align-items: row;*/
/*	border: solid red 1px;*/
}
.sub-label .row:nth-of-type(1) {
	margin: 0 35%;
}
.sub-label .row:nth-of-type(2) {
	margin: 0 17.5%;
}
.sub-label .row:nth-of-type(3) {
	margin: 0 5%;
}
.sub-label .row:nth-of-type(4) {
	margin: 0 2.5%;
}
.sub-label .row:nth-of-type(5) {
/* spacer */
}
.sub-label .row:nth-of-type(6) {
/*	margin: 0 -20%;
	width: 140%;*/
	margin: 0 2.5%;
}
.sub-label .row:nth-of-type(7) {
	margin: 0 5%;
}
.sub-label .row:nth-of-type(8) {
	margin: 0 17.5%;
}
.sub-label .row:nth-of-type(9) {
	margin: 0 35%;
}
.sub-label .row div {
	-webkit-box-flex: 2;
	    -ms-flex: 2 50%;
	        flex: 2 50%;
	/* display: inline-block; */
	font-family: 'Output Sans';
	font-size: 0.6rem;
	letter-spacing: 0.03rem;
	color: #FEFEFE;
	z-index: 1000;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
}
.sub-label .row div > span {
	background-color: #262626;
	padding: 0.18rem 0.3rem 0.18rem 0.3rem;
	display: inline-block;
	border-radius: 1px;
}
.sub-label .row div:nth-of-type(2) {
	text-align: right;
}


/* Section Left */
section.right {
	-webkit-box-flex: 2;
	    -ms-flex: 2 50%;
	        flex: 2 50%;
	background-color: #FEFEFE;
}
section.right .subsection {
	background-color: papayawhip;
	height: 90%;
	margin: 5%;
}

section.right .subsection.dimmed {
	background-color: #222;
	margin: 0;
	height: 100%;
}

section.right.intro {
	background-color: #222;
}
section.right.intro .subsection.dimmed {
	/*border: solid #999 2px;*/
	height: 90%;
	margin: 5%;
}


/* Slides */
.container {
	display: none;
}
button {
	border: none;
}
/*#slide1.container {
	display: flex;
}*/

/* Hide the forms to prevent people from entering info */
.hidden {
	pointer-events: none !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
	opacity: 0 !important;
	height: 0 !important;
	width: 0 !important;
}


@media (max-width: 70rem) {
	.container {
		height: auto;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	section.left {
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	section.right {
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	section.left .subsection-middle {
		padding: 5rem 1rem;
	}
}



.image-test.subsection {
	background-size: cover;
	background-position: 50% 50%;
	min-height: 30rem;
}

.img-1 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-2 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-3 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-4 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-5 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-6 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-7 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}
.img-8 .image-test.subsection {
	background-image: url('../images/poster_bg.png');
}